@import "tailwindcss";

@theme {
  --color-sage: #7a9e87;
  --color-gold: #c9a84c;
  --color-cream: #faf8f5;
}

@theme inline {
  --font-script: var(--font-pinyon);
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-josefin);
}

html,
body {
  height: 100%;
}
